
        * {
            margin: 0%;
            padding: 0%;
        }

        body {
            text-align: center;
            margin: 100px;
            margin-top: 5px;
        }

        #image {
            margin-bottom: 10px;
            text-align: center;
        }

        #nav {
            margin: 2px;
            text-align: center;
            background-color: #EEEEEE;
        }

        #table1 {
            display: inline-block;
        }

        #table1 td {
            display: block;
        }

        #table2 {
            text-align: center;
            display: inline-block;
        }

        a {
            color: blue;
        }

        .group1 {
            width: 10%;
            padding: 5px;
            background-color: honeydew;
        }

        .group2 {
            width: 5%;
            padding: 5px;
            font-size: 13px;
            background-color: rgb(49, 73, 49);
        }

        .group3 {
            width: 10%;
            padding: 5px;
            font-size: 13px;
            background-color: rgb(41, 87, 87);
        }

        footer {
            margin: 5px;
            font-size: 13px;
        }
    